{% extends "suivi/base.html" %}
{% block titre %}Entrer dans le carnet{% endblock %}
{% block contenu %}
<h1>Carnet de suivi des apprentissages</h1>
<p class="sous-titre">Entrez le mot de passe de votre école pour commencer.</p>
<form method="post" class="encadre">
  {% csrf_token %}
  <label for="mdp">Mot de passe de l'école
    <span class="aide">Celui que la direction vous a donné, enseignant ou direction.</span>
  </label>
  <input type="password" id="mdp" name="mot_de_passe" autocomplete="current-password" autofocus required>
  <div class="actions"><button class="bouton" type="submit">Entrer</button></div>
</form>
{% endblock %}
